{% extends 'auth/account_settings.html' %}

{% load common ui %}

{% block subnav_user_selection_criteria %}active{% endblock %}

{% block title %}
  <h2>Selection Criteria</h2>
{% endblock %}

{% block content %}
  <table class="table table-striped sortable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Default Value</th>
    </tr>
    </thead>
    <tbody>
    {% for criterion in user_selection_criteria %}
      <tr>
        <td>{{ criterion.name }}</td>
        <td>{{ criterion.value }}</td>
        <td>{{ criterion.default }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="100%" class="table-empty">No selection criteria defined.</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <form action="{% url user_selection_criteria_edit %}">
    <button class="btn btn-primary" type="submit">Edit</button>
  </form>
{% endblock %}