{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}OVFs{% endblock %}

{% block nav_ovfs %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_ovfs %}{% endblock %}"><a href="{% url provider_ovfs provider.id %}">OVFs</a></li>
  <li class="{% block subnav_ovfs_create %}{% endblock %}"><a href="{% url provider_ovfs_create provider.id %}">Create OVF</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_ovfs provider.id as url %}{% breadcrumb 'OVFs' url %}{{ block.super }}
{% endblock %}
