<td>
  <div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
    <ul class="dropdown-menu">
      {{ content }}
    </ul>
  </div>
</td>