{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}Servers{% endblock %}

{% block nav_servers %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_servers %}{% endblock %}"><a href="{% url provider_servers provider.id %}">Servers</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_servers provider.id as url %}{% breadcrumb 'Servers' url %}{{ block.super }}
{% endblock %}
