{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}VOs{% endblock %}

{% block nav_vos %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_vos %}{% endblock %}"><a href="{% url provider_vos provider.id %}">Vos</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_vos provider.id as url %}{% breadcrumb 'VOs' url %}{{ block.super }}
{% endblock %}
