/* 
    Document   : vep.css
    Created on : Jul 8, 2013, 11:41:04 AM
    Author     : root
    Description:
        Purpose of the stylesheet follows.
*/


textarea
{
    width:100%;
}

table.table-compress-inputs > tbody > tr > td > input
{
    width: 90%;
}

.well-white
{
    background-color: white;
}

.header
{
    background-image: url("images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.menu-bar > a > img
{
    alignment-adjust: central;
}

.menu-bar
{
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    margin: 15px;
    border-radius: 20px;
    
}