{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}SLATs{% endblock %}

{% block nav_slats %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_slats %}{% endblock %}"><a href="{% url provider_slats provider.id %}">SLATs</a></li>
  <li class="{% block subnav_slats_create %}{% endblock %}"><a href="{% url provider_slats_create provider.id %}">Create SLAT</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_slats provider.id as url %}{% breadcrumb 'SLATs' url %}{{ block.super }}
{% endblock %}
