{% extends 'provider/slats/base.html' %}

{% load common ui %}

{% block head_title %}Create SLAT{% endblock %}

{% block subnav_slats_create %}active{% endblock %}

{% block breadcrumbs %}
{% url provider_slats_create provider.id as url %}{% breadcrumb 'Create SLAT' url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>Create SLAT</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}
      
      {% form_field form.name 'Name' %}
      {% form_field form.url 'URL' %}
      
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Create SLAT</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
