{% extends 'provider/slats/base.html' %}

{% load common ui %}

{% block head_title %}Edit SLAT{% endblock %}

{% block breadcrumbs %}
{% url provider_slats_edit provider.id object.id as url %}{% breadcrumb 'Edit SLAT' url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>Edit SLAT</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}
      
      {% form_field form.name 'Name' %}
      {% form_field form.url 'URL' %}
      
      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
