{% extends 'user/apps/base.html' %}

{% load common ui %}

{% block js_imports %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}user/app_selection_criteria.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.redirect/jquery.redirect.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ajax-spinner.js"></script>
{% endblock %}

{% block css_imports %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ajax-spinner.css"/>
{% endblock %}

{% block content %}

  <div class="span12">
    <ul class="breadcrumb">
      <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
      <li class="active">Submit application</li>
    </ul>
  </div>

  <div class="header-title">
    <h2>Selection Criteria for the Application</h2>
  </div>

  <form id="app_selection_criteria_form" action="{% url app_selection_criteria_save %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="slatId" value="{{ slatId }}"/>
    <input type="hidden" name="appName" value="{{ appName }}"/>

    <table class="table table-striped sortable">
      <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Default Value</th>
      </tr>
      </thead>
      <tbody>
      {% for criterion in user_selection_criteria %}
        <tr>
          <td>{{ criterion.name }}</td>
          <td>
            <input type="text" id="criterion-{{ criterion.name }}" name="usc-{{ criterion.name }}"
                   value="{{ criterion.value }}" style="width: 60px; padding: 2px;"/>
            <img src="{{ STATIC_URL }}img/edit_undo.png" style="height: 20px" title="Restore default"
                 onclick="javascript:$('#criterion-{{ criterion.name }}').val('{{ criterion.value }}');"/>
          </td>
          <td>{{ criterion.value }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="100%" class="table-empty">No selection criteria defined.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <button type="button" class="btn btn-primary" name="submit"
            onclick="javascript:submitApplication()">Submit</button>
    <button type="button" class="btn btn-primary" name="cancel"
            onclick="javascript:confirmCancel()">Cancel</button>
  </form>
  <div class="ajax-spinner-div"></div>
{% endblock %}
