{% extends 'user/apps/base.html' %}

{% load common ui %}

{% block js_imports %}
  {{ block.super }}
  
  <script type="text/javascript">
    var RPC_BASE = '{% url user_apps_rpc %}';
  </script>
    
  <script src="{{ STATIC_URL }}user/apps/apps.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.redirect/jquery.redirect.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/vkBeautify/vkbeautify.js"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="span12" id="alerts" data-bind="template: { name: 'tpl-alert', foreach: alerts }"></div>
    
    <script type="text/html" id="tpl-alert">
      <div class="alert alert-${type}">
        <a class="close" data-bind="click: close" href="#">×</a>
        ${msg}
      </div>
    </script>
    
    <div id="main"></div>
  </div>
{% endblock %}