{% extends 'user/apps/base.html' %}

{% block head_title %}SLA Renegotiation{% endblock %}

{% block head_extra %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}lib/extjs-4.2.1/ext-all.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/extjs-4.2.1/ext-theme-classic-all.css">
  <script type="text/javascript">
    var fedApiAddress = "{{ fedApiAddress }}";
    var slatId = "{{ slatId }}";
    var negotiationId = "{{ negotiationId }}";
    var userUuid = "{{ request.user.uuid }}";
    var appId = "{{ appId }}";
    var offerId = "{{ offerId }}";
  </script>
{% endblock %}

{% block js_imports %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}lib/jquery.redirect/jquery.redirect.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/ajax-spinner.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}user/renegotiation.js"></script>
{% endblock %}

{% block css_imports %}
  {{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ajax-spinner.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/treegrid.css"/>
{% endblock %}

{% block title %}
  <h2>Renegotiate SLA Offer #{{ offer.num }}</h2>
{% endblock %}

{% block content %}
  <div id="offer_container">
    <table>
      <tr>
        <td style="padding-right: 20px">Offer ID</td>
        <td>{{ offer.offerId }}</td>
      </tr>
      <tr>
        <td>Provider</td>
        <td>{{ offer.providerName }}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ offer.created }}</td>
      </tr>
      <tr>
        <td>Actions</td>
        <td>
          <button class="btn btn-primary" type="button" name="negotiate"
                  onclick="javascript:renegotiate()">Renegotiate
          </button>
          <button type="button" class="btn btn-primary" name="backToOffers"
                  onclick="javascript:backToOffersList()">Back to offers
          </button>
          <button type="button" class="btn btn-primary" name="cancel"
                  onclick="javascript:confirmCancel()">Cancel
          </button>
        </td>
      </tr>
    </table>
    <br/>

    <div id="treegrid-{{ offer.offerId }}" class="treegrid"></div>
    <br/>
    <br/>
  </div>
  </button>
  <div class="ajax-spinner-div"></div>
{% endblock %}
