{% extends 'user/apps/base.html' %}

{% block head_title %}SLA Agreement{% endblock %}

{% block head_extra %}
  {{ block.super }}
{% endblock %}

{% block js_imports %}
  {{ block.super }}
  <script type="text/javascript" src="{{ STATIC_URL }}lib/sprintf-js/sprintf.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}user/sla_agreement.js"></script>
{% endblock %}

{% block css_imports %}
  {{ block.super }}
{% endblock %}

{% block title %}
  <h2>SLA Agreement</h2>
{% endblock %}

{% block content %}
  <p>
    <span style="font-weight:bold;">SLA agreement has been created successfully.</span>
    <br/>
  <table>
    <tr>
      <td style="padding-right: 20px">SLA ID</td>
      <td>{{ slaId }}</td>
    </tr>
    <tr>
      <td style="padding-right: 20px">Agreed at</td>
      <td>{{ agreedAt }}</td>
    </tr>
    <tr>
      <td style="padding-right: 20px">Effective from</td>
      <td>{{ effectiveFrom }}</td>
    </tr>
    <tr>
      <td style="padding-right: 20px">Effective to</td>
      <td>{{ effectiveUntil }}</td>
    </tr>
  </table>
  </p>

  <p>
    <span style="font-weight:bold;">Application has been created successfully.</span>
    <br/>
  <table>
    <tr>
      <td style="padding-right: 20px">Application ID</td>
      <td>{{ app.uuid }}</td>
    </tr>
    <tr>
      <td style="padding-right: 20px">Application name</td>
      <td>{{ app.name }}</td>
    </tr>
    <tr>
      <td style="padding-right: 20px">Application state</td>
      <td>{{ app.state }}</td>
    </tr>
  </table>
  </p>

  <p>
    <span style="font-weight:bold;">SLA Details:</span><br/>
    <textarea id="sla-content">{{ sla.content }}</textarea>
  </p>
  <br/>
  <button class="btn btn-primary" name="accept_offer"
          onclick="javascript:window.location.replace('/user#/');">Finish
  </button>
{% endblock %}
