<div class="span12">
  <ul class="breadcrumb">
    <li><a href="#/">Dashboard</a> <span class="divider">/</span></li>
    <li class="active">SLA Template details</li>
  </ul>
</div>

<div data-bind="template: {name: 'tpl-sla-details', data: $data}"></div>

<script type="text/html" id="tpl-sla-details">
  <div class="span12">
    <h2>${name}</h2>
    
    <br />
    
    <textarea data-bind="xmlmirror: { value: content }"></textarea>
  </div>
</script>
