#monitor_container {
  margin-top: 0px;
  margin-right: 0px;
  margin-left: -240px;
  margin-bottom: 0px;
  /* tooltip */

}
#monitor_container #abc {
  /* providers and sids */

}
#monitor_container #abc label {
  display: inline-block;
}
#monitor_container #abc #providers .provider label {
  font-weight: bold;
}
#monitor_container #abc #providers .server {
  margin-left: 10px;
}
#monitor_container div.tooltip {
  position: absolute;
  text-align: center;
  /*width: 60px;*/

  /*height: 12px;*/

  padding: 8px;
  font: 10px sans-serif;
  background: #ddd;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
#monitor_container div.tooltip p {
  margin: 0px;
}
/* svg */
svg {
  display: inline-block;
  margin: 20px;
  font: 10px sans-serif;
  /* sunburst */

  /*stacked*/

  /* graph legend */

}
svg .axis path, svg .axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}
svg .threshold {
  opacity: .125;
}
svg .threshold.WARNING {
  fill: yellow;
}
svg .threshold.CRITICAL {
  fill: red;
}
svg .loading .led {
  fill: none;
  stroke: #00ff00;
  opacity: 0;
}
svg .loading .one {
  -webkit-animation: blip 1s ease-in-out 0s infinite alternate;
  animation: blip 1s ease-in-out 0s infinite alternate;
}
svg .loading .two {
  -webkit-animation: blip 1s ease-in-out 0.1s infinite alternate;
  animation: blip 1s ease-in-out 0.1s infinite alternate;
}
svg .loading .three {
  -webkit-animation: blip 1s ease-in-out 0.2s infinite alternate;
  animation: blip 1s ease-in-out 0.2s infinite alternate;
}
svg .loading .four {
  -webkit-animation: blip 1s ease-in-out 0.3s infinite alternate;
  animation: blip 1s ease-in-out 0.3s infinite alternate;
}
@-webkit-keyframes blip {
  0% {
    stroke-width: 0;
    opacity: 0;
  }
  50% {
    stroke-width: 5;
    opacity: 1;
  }
  100% {
    stroke-width: 0;
    opacity: 0;
  }
}
@keyframes blip {
  0% {
    stroke-width: 0;
    opacity: 0;
  }
  50% {
    stroke-width: 5;
    opacity: 1;
  }
  100% {
    stroke-width: 0;
    opacity: 0;
  }
}
svg.sunburst-chart .hoverLabel {
  pointer-events: none;
}
svg.single-metric-chart .y.axis .major {
  stroke-opacity: 0.3;
}
svg.single-metric-chart .y.axis .minor {
  stroke-opacity: 0.2;
}
svg.single-metric-chart .title {
  font-weight: bold;
}
svg.single-metric-chart .line {
  fill: none;
  stroke-width: 1.5px;
}
svg.single-metric-chart .line.lineMin {
  stroke: #4f4fee;
}
svg.single-metric-chart .line.lineAvg {
  stroke: #00c000;
}
svg.single-metric-chart .line.lineMax {
  stroke: #ff0000;
}
svg.stacked-chart .y.axis .major {
  /*stroke-opacity: 1;*/

}
svg.stacked-chart .y.axis .minor {
  /*stroke-opacity: 0.2;*/

}
svg foreignObject div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  pointer-events: none;
}
svg .brush .extent {
  stroke: #000;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
#dialog-modal > svg {
  margin: auto;
}
