{% extends "base.html" %}

{% block content %}
<h2>Model adding page</h2>

<p>This page allows you to add sans models to the list for BoT creation.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form method="post" action="" >
    {% csrf_token %}
    <table>
        <th>Parameter</th>
        <th>Value</th>
        <th>Fixed?</th>
    {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            <td><input type="checkbox" name="fixed" value="{{ field.name }}" /></td>
            <td>{{ field.errors }}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}
