{% extends "base.html" %}

{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>
Completed {{ completed }} tasks out of {{ total }}
</br>
Results are in {{ output_dir }}

{% if tasks_remaining > 0 %}

<P>Some ( {{ tasks_remaining }} ) tasks did not finish 

{% endif %}


{% if count > 0 %}

Time for filesystem contents to settle was {{ output_settle_time }} seconds.

{% endif %}

</h3>



{% endblock%}
