{% extends "base.html" %}

{% block content %}
<h2>File paths</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>Data files</h3>
<ul>
{% for file in data_paths %}
    <li><a href="{{ file.url }}">{{ file.name }}</a></li>
{% endfor %}
</ul>

<h3>Bot files</h3>
<ul>
{% for file in bot_paths %}
    <li><a href="{{ file.url }}">{{ file.name }}</a></li>
{% endfor %}
</ul>

<!--
<h3>First and last lines</h3>
<ul>

  <li>{{ first }}</li>
  <li>{{ last  }}</li>

</ul>
-->

{% endblock %}
