{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html>
    <head>

    <META HTTP-EQUIV="Refresh" content="5;URL=http://one-test.contrail.rl.ac.uk/uc3/bot/monitorLocalProcessBar/" >
    
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  <script>
  var pb = $( "#progressbar" ).progressbar()
  $(function() {
  
    var pb = $( "#progressbar" ).progressbar()
    
    pb.height(20)
    
    $( "#progressbar" ).progressbar({
      value: parseFloat ( {{ percent }} * 100 ) 
    });
  });
  
  $("p:last").text( "progressbar width: " + pb.width() ) ;
  
  
  </script> 
  
     
    </head>
    
<body>

<h2>Simulation Progress</h2>

<BR>

<div style="width:400px; height:10px float:left; background:LightGreen; foreground:Navy" id="progressbar"></div>

<P>
<p>
<br>

<ul class="messages">
  <li>{{ completed }} out of {{ total }}</li>
  <li>{{ percent }} completed</li>
</ul>



<P>

</body>

{% endblock %}
