<!DOCTYPE html>
<html>
    <head>

    <META HTTP-EQUIV="Refresh" content="1;URL=http://one-test.contrail.rl.ac.uk/uc3/bot/monitorLocalProcess/" >
    
    </head>
    
<body>

<h2>Monitor TaskFarm Execution</h2>

<P>

<ul class="messages">
  <li>{{ completed }} out of {{ total }}</li>
</ul>


<P>

</body>
