{% extends "base.html" %}

{% block head %}
    {{ block.super }}

<!--
    {% if refresh %}
    <meta http-equiv="refresh" content="5" />
    {% endif %}
-->

{% endblock head %}

{% block content %}
<h2>Monitor TaskFarm Execution</h2>


<P>
{% if progress %}
<ul class="messages">
  <li>{{ progress }}</li>
</ul>
{% endif %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url bag_of_tasks.views.monitor %}" method="get">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Monitor" />
</form>

{% endblock%}
