{% extends "base.html" %}

{% block head %}
    {{ block.super }}
    {% if refresh %}
    <meta http-equiv="refresh" content="5" />
    {% endif %}
{% endblock head %}

{% block content %}
<h2>BoT file processing test page</h2>

<p>The bag-of-tasks file uploaded below will be parsed and the commands executed
on the server in sub-shells. It will be associated with your session and will
only allow you to run one BoT file at a time.</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url bag_of_tasks.views.process %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Process" />
</form>

{% endblock %}