{% extends "base.html" %}

{% block head %}
    {{ block.super }}

<!--
    <meta http-equiv="refresh" content="5;URL=https://myriads-serv2.irisa.fr/uc3/bot/monitor/" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 22 Jul 2002 11:12:01 GMT">
-->


<script type="text/javascript" src="/src/jquery.min.js"></script>

<script type="text/javascript">

(function() {
$.get("/bot/xhr_test", function(data) {
        updatepage(data);
    });
});


function updatepage(str) {

  document.getElementById("progressdiv").innerHTML = str;

}

</script>

{% endblock head %}

{% block content %}
<h2>Monitor TaskFarm Execution</h2>

<P>
{% if progress %}
<ul class="messages">
  <li>{{ progress }}</li>
</ul>
{% endif %}

<P>
Output from AJAX:
<div id="progressdiv"></div>


{% endblock%}
