{% extends "base.html" %}

{% block content %}
<h2>Submit Simulation</h2>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form action="{% url "bag_of_tasks.views.executeOneShot" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Execute Singleshot" />
</form>

{% endblock%}
