{% extends 'provider/base.html' %}

{% load common ui %}

{% block head_title %}VMs{% endblock %}

{% block nav_vms %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_vms %}{% endblock %}"><a href="{% url provider_vms provider.id %}">VMs</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url provider_vms provider.id as url %}{% breadcrumb 'VMs' url %}{{ block.super }}
{% endblock %}
