{% extends 'base.html' %}

{% load common ui %}

{% block head_title %}Home{% endblock %}

{% block nav %}
  <li class="{% block nav_dashboard %}{% endblock %}"><a href="{% url user %}">Dashboard</a></li>
  <li class="{% block nav_monitor %}{% endblock %}"><a href="{% url user_monitor %}">Monitor</a></li>
  <li class="{% block nav_authorization %}{% endblock %}"><a href="{% url user_authorization_trust %}">Authorization</a></li>
  <li class="{% block nav_auditing %}{% endblock %}"><a href="{% url user_auditing %}">Auditing</a></li>
{% endblock %}

{% block breadcrumbs %}{% endblock %}
